.row {
  display: flex;
  position:absolute;
}

.column {
  padding: 20px;
}

body {
  background-image: url('https://cdn.glitch.com/2cd52535-6c95-44d8-a787-c4e6573a1734%2Fmeun_background.png?v=1624398550421');
  background-repeat: no-repeat;
  background-size: auto;
}

p {
  color: white;
  width: 500px;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(0, 0, 0, 0.75)
  
}

.left {
  position:relative;
  top:20vh;
  left:20vh;
  width: 30%;
}

.right {
  width: 70%;
  position:relative;
  top:35vh;
  right:5vh;
  left:40vh;
  
}

.gameName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: sans-serif;
  font-size: 2em;
}

button {
  margin-top:20px;
}

.ev {
  position:relative;
  top:68px;
}