#cd-vertical-nav {
  position: fixed;
  /*z-index: 1;*/
  right: 10%;
  bottom: 50%;
  /*width: 90%;*/
  /*max-width: 400px;*/
  /*max-height: 90%;*/
  /*transform: scale(0);*/
  /*transition-property: transform;*/
  /*transition-duration: 0.2s;*/
}
#cd-vertical-nav li {
  text-align: right;
  color:rgba(0,0,0,0);

}
#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
#cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
#cd-vertical-nav a:link {
  color: black;
}

#cd-vertical-nav a:visited {
  color: black;
}
#cd-vertical-nav a:hover span {
  -webkit-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -ms-transform: scale(2.1);
  -o-transform: scale(2.1);
  transform: scale(2.1);
  color: rgb(0 0 0);
}
#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 12px;
  height:6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgb(0 0 0);
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 4px;
  padding: .4em .5em;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
